<head>
 <link rel="stylesheet" href="../public/Styles/home.css">
</head>

<body>
 <header>
  <h1>My Web Page</h1>
 </header>
<div class="navbar">
    <img class="logo" src="../public/images/blackapi.PNG">
    <a href="/pokedex">Dashboard</a>
    <a href="/home">Profile</a>
</div>
 <main>
  <div class="card">
   <div class="card-inner">
    <div class="card-front">
     <img class="" src="image1.jpg" alt="Image 1">
    </div>
    <div class="card-back">
     <img class="" src="image1_back.jpg" alt="Image 1 Back">
    </div>
   </div>
  </div>
  <div class="card">
   <div class="card-inner">
    <div class="card-front">
     <img class="" src="image2.jpg" alt="Image 2">
    </div>
    <div class="card-back">
     <img class="" src="image2_back.jpg" alt="Image 2 Back">
    </div>
   </div>
  </div>
  <div class="card">
   <div class="card-inner">
    <div class="card-front">
     <img class="" src="image3.jpg" alt="Image 3">
    </div>
    <div class="card-back">
     <img class="" src="image3_back.jpg" alt="Image 3 Back">
    </div>
   </div>
  </div>

  <div>
   <div class="container">
    <img src="" alt="images">
    <h3>Title</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, veritatis?</p>
   </div>
   <div class="container">
    <img src="" alt="images">
    <h3>Title</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, veritatis?</p>
   </div>
   <div class="container">
    <img src="" alt="images">
    <h3>Title</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, veritatis?</p>
   </div>
  </div>
 </main>
 <footer>
  &copy; 2023 Kyle Davis and Asher Page
 </footer>
</body>