<head>
 <link rel="stylesheet" href="../public/Styles/home.css">
</head>

<body>
<div class="navbar">
    <img class="logo" src="../public/images/blackapi.PNG">
    <a href="/pokedex">PokeDex</a>
    <a href="/profile">Profile</a>
</div>
<h1>Favorite Cards</h1>
    <div class="card-container">
        <div class="card">
            <div class="card-front">
            </div>
            <div class="card-back" id="fir">
            </div>
        </div>
    
        <div class="card">
            <div class="card-front">
            </div>
            <div class="card-back" id="sec">
            </div>
        </div>
    
        <div class="card">
            <div class="card-front">
            </div>
            <div class="card-back" id="thir">
            </div>
        </div>
    </div>
    <h2>Useful Links</h2>
        <div class="card-container">
        <div class="boxer">
            <img src="../public/images/download (1).png">
            <h3>TGCplayer</h3>
            <p>Lowest Prices Online, Huge Selection.</p>
            <a href="https://www.tcgplayer.com/" target="_blank">Visit Website</a>
        </div>
            <div class="boxer">
                <img src="../public/images/download (2).png">
                <h3>PokemonCard.io</h3>
                <p>ultimate Pokemon TCG Database and Deck Building Website</p>
                <a href="https://pokemoncard.io/" target="_blank">Visit Website</a>
            </div>
            <div class="boxer">
                <img src="../public/images/unnamed-removebg-preview.png">
                <h3>Limitless TGC</h3>
                <p>Card TCG database</p>
                <a href="https://limitlesstcg.com/" target="_blank">Visit Website</a>
            </div>
            </div>
</body>