<head>
 <link rel="stylesheet" href="../public/Styles/home.css">
</head>

<body>
 <header>
  <h1>My Web Page</h1>
 </header>
<div class="navbar">
    <img class="logo" src="../public/images/blackapi.PNG">
    <a href="/pokedex">PokeDex</a>
    <a href="/profile">Profile</a>
</div>
    <div class="card-container">
        <div class="card">
            <div class="card-front">
                Card 1 Front
            </div>
            <div class="card-back">
                Card 1 Back
            </div>
        </div>
    
        <div class="card">
            <div class="card-front">
                Card 2 Front
            </div>
            <div class="card-back">
                Card 2 Back
            </div>
        </div>
    
        <div class="card">
            <div class="card-front">
                Card 3 Front
            </div>
            <div class="card-back">
                Card 3 Back
            </div>
        </div>
    </div>
</body>