<head>
    <link rel="stylesheet" href="../public/Styles/pokidex.css">
</head>

<body>
<div class="navbar">
    <img class="logo" src="../public/images/blackapi.PNG">
    <a href="/dashboard">Home</a>
    <a href="/profile">Profile</a>
</div>
<div class="banner">
    <div class="input-container">
        <input type="text" placeholder="Search" class="search searchInput">
        <button class="search-button" onclick="()=>searchCards">S</button>
    </div>
</div>
<div class="all-main">
    <h1>Pokedex</h1>
    <div class="card-holder"></div>
</div>
<div class="next-prev-buttons"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
    crossorigin="anonymous"></script>
<script type="module" src="../public/dashboard.js"></script>
</body>