<head>
    <link rel="stylesheet" href="../public/Styles/dashboard.css">
</head>

<body>
<div class="navbar">
    <img class="logo" src="../blackapi.PNG">
    <a href="#home">Dashboard</a>
    <a href="#profile">Profile</a>
</div>
<div class="banner">
    <div class="input-container">
        <input type="text" placeholder="Search" class="search">
        <button class="search-button">S</button>
    </div>
</div>
<div class="all-main">
    <h1>Pokidex</h1>
    <div class="card-holder">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>

</div>
<script src="../public/dashboard.js"></script>
</body>