<head>
 <link rel="stylesheet" href="../public/Styles/pokidex.css">
</head>

<div class="navbar">
 <img class="logo" src="../public/images/blackapi.PNG">
 <a href="/dashboard">Dashboard</a>
 <a href="/pokedex">PokeDex</a>
</div>