<head>
 <link rel="stylesheet" href="../public/Styles/profile.css">
</head>
<body>
<div class="navbar">
 <img class="logo" src="../public/images/blackapi.PNG">
 <a href="/home">Home</a>
 <a href="/pokedex">PokeDex</a>
</div>
<div class="profile-card">
    <img class="profile-picture" src="your_profile_picture_url.jpg" >
    <div class="profile-name">Profile name</div>
</div>
<a href="/users/logout"><button class="absolute-button">Logout</button></a>

<div class="all-main">
    <h1>Favorite Cards</h1>
    <br>
    <div class="card-holder">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
    </div>
</div>
</body>