
<head>
        <link rel="stylesheet" href="../public/Styles/welcome.css">
    </head>
    <body>
<div class="container">
    <div class="avatar">
        <a href="">
            <img src="../public/images/POKAPI__1_-removebg-preview.png" alt="Skytsunami" />
        </a>
    </div>
    <div class="center-box">
        <div class="button-container">
            <a href="/users/login"><button>Log in</button></a>
            <a href="/users/register"><button>Sign up</button></a>
        </div>
    </div>
</body>
