* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: mainer;
    src: url(../fonts/Designer.otf);
}

.navbar {
    background-color: #ffffff;
    overflow: hidden;
    position: fixed;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    top: 0;
    height: 5rem;
    z-index: 10;
    box-shadow: 0 0 5px black;
}
/* Style the links inside the navbar */
.navbar a {
    font-weight: lighter;
    font-family: mainer;
    font-size: 1rem;
    float: left;
    display: block;
    color: black;
    text-align: center;
    margin: 0 1rem 0 1rem;
    text-decoration: none;
    transition: 0.1s;
    padding: 0rem 1rem 0 1rem;
}

/* On hover, the links will change color */
.navbar a:hover {
    color: #0077ff;
    transition: 0.1s;
    font-weight: bold;
}

/* Logo style */
.navbar .logo {
    float: left;
    justify-content: left;
    margin-left: 2rem;
    margin-right: 2rem;
    width: 8rem;
    height: 5rem;
}
  .card-container {
      display: flex;
      /* justify-content: space-around; */
      align-items: center;
      justify-content: center;
      gap: 3rem;
  }

  .card {
      width: 12rem;
      height: 18rem;
      perspective: 1000px;
      cursor: pointer;
      position: relative;
  }

  .card .card-front,
  .card .card-back {
      width: 100%;
      height: 100%;
      position: absolute;
      backface-visibility: hidden;
      transition: transform 0.6s;
  }

  .card .card-front {
    background-image: url(../images/7e48a9c47f2380fe858daba033559b08\ \(1\).png);
    background-size: cover;
    background-position: center;
    border-radius: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      color: white;
  }

  .card .card-back {
    border-radius: 0.5rem;
        background-size: cover;
        background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      color: white;
      transform: rotateY(180deg);
  }
  #fir {
      background-image: url(../images/pika].png);
  }
  #sec{
    background-image: url(../images/abra.png);
  }
  #thir{
    background-image: url(../images/hitmunch.png);
  }
  .card:hover .card-front {
      transform: rotateY(180deg);
  }

  .card:hover .card-back {
      transform: rotateY(0deg);
  }
  h1{
    font-family: mainer;
    width: 100%;
    text-align: center;
    margin: 6rem 0 1rem;
  }
        h2 {
            font-family: mainer;
            width: 100%;
            text-align: center;
            margin: 3rem 0 1rem;
        }
  .boxer {
      border: 1px solid #ccc;
      box-shadow: 0 0 2px gray;
      width: 12rem;
      height: 18rem;
      text-align: center;
  }

  .boxer img {
      max-width: 100%;
      height: auto;
  }